<div>
  <div class="row">
    <div class="col-xs-12">
      <app-movies-categories type="Now Playing"></app-movies-categories>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-movies-categories type="Upcoming"></app-movies-categories>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-movies-categories type="Popular"></app-movies-categories>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-movies-categories type="Top Rated"></app-movies-categories>
    </div>
  </div>
</div>
