<div class="row">
  <div class="col-sm-12 col-md-4 well">
    <img [src]="book.volumeInfo.imageLinks.thumbnail" alt="..." class="img-responsive">
    <hr>
    <p *ngIf="book.volumeInfo.publisher" class="black"><strong>Publisher</strong>: {{book.volumeInfo.publisher}} </p>
    <p *ngIf="book.volumeInfo.authors" class="black"><strong>Author</strong>: {{book.volumeInfo.authors[0]}} </p>
  </div>
  <div class="col-sm-12 col-md-8">
    <h3>{{book.volumeInfo.title}}</h3>
    <hr>
    <p><strong> Description </strong>: </p>
    <blockquote class="blockquote">{{book.volumeInfo.description || "The description is not available for this Item"}}</blockquote>
    <hr>
    <a role="button" [href]="book.volumeInfo.previewLink" class="btn btn-primary">Preview</a>
    <a role="button" [href]="book.volumeInfo.infoLink" class="btn btn-primary">More Info</a>
  </div>
</div>
